.App {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  height: 100vh;
}

.container{
background-color: #7c045e;
box-sizing: border-box;
min-width: 450px;
min-height: 400px;
border-radius:10px;
padding: 30px;
align-items: center;
text-align: center;
}

.add-btn{
  border-radius: 4rem;
  background-color: rgb(226, 198, 43);
  margin-left: 10px;
  padding: 5px;
  text-transform: uppercase;
  font-size: 15px;
  color: white;
}
.delete-btn{
  border-radius: 4rem;
  background-color: rgb(243, 18, 18);
  margin-left: 10px;
  padding: 5px;
  text-transform: uppercase;
  font-size: 15px;
  color: white;
  margin-top: 10px;
}
.save-btn{
  border-radius: 4rem;
  background-color: rgb(8, 69, 199);
  margin-left: 10px;
  padding: 5px;
  text-transform: uppercase;
  font-size: 15px;
  color: white;
  margin-top: 10px;
}
.edit-btn{
  border-radius: 4rem;
  background-color: rgb(9, 129, 69);
  margin-left: 10px;
  padding: 5px;
  text-transform: uppercase;
  font-size: 15px;
  color: white;
  margin-top: 10px;
}
input{
  border-radius: 4rem;
  background-color: white;
  color: black;
  height: 30px;
  border:1px solid black;
}


.App-header {
  text-align: center;
   align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
 
}
h3{
  background-color: #7c045e !important;
  border-radius: 4rem;
}
.todo-list{
  padding: 10px;

}

